*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}


.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px ;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white ;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #8c61c5 0%, #5c3b86 28.53%, #2d1747 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text P{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom:40px ;
}
.hero-text a{
    display: inline-block;
    color: #ffffff;
    background-color: #8c61c5;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 35px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-img img{
    width: 700px;
    height: auto;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateY(-10px);
}

.hero-text a.ctaa{
    background: transparent;
    border:1px solid white;
    margin-left: 20px;
}

.hero-text a.ctaa:hover{
    background-color: #8c61c5;
    border: 1px solid transparent;
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{
    color: #8c61c5;
    transform: translateY(-10px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: white;
    background: #8c61c5;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down-pro i{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: white;
    background: #8c61c5;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down-pro i:hover{
    transform: translateY(10px);
    background: transparent;
    border: 2px solid white;
}

.scroll-down i:hover{
    transform: translateY(10px);
    background: transparent;
    border: 2px solid white;
}


@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right :3%;
        transform: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap : 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top:100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #8c61c5;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin:  10px 0;
    }
    .navlist.open{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}

.hero-pro{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #e2d275 0%, #e6bf42 28.53%, #c9a400 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.hero-img-pro img{
    width: 1300px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.hero-img-pro img:hover{
    transition: .55s ease;
    scale: 102%;
    border: 5px solid #ffffff;
}

.hero-text-pro h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.hero-text-pro h2{
    margin-top: 150px;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.hero-text-pro h3{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.hero-profil{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #40913d 0%, #1b802c 28.53%, #045804 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.hero-img-profil img{
    width: 1300px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.hero-contact{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #75b1e2 0%, #23639e 28.53%, #162369 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: vertical;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    background-color: #75b1e2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #162369;
}
